In [1]:
import leafmap
from samgeo import SamGeo2, regularize

In [2]:
import cv2
print(cv2.__version__)

4.11.0

In [6]:
m = leafmap.Map()

In [17]:
sdc_points = [
    [31.545658,	70.759933],
    [31.729882,	70.330082],
    [31.820667,	70.907939]
            ]

In [45]:
# Average of Longtitude and Latitute
avg_lat=sum([x[0] for x in sdc_points]) / len(sdc_points)
avg_lon = sum ([x[1] for x in sdc_points]) / len(sdc_points)

avg_dic = {
    "centroid_location": [avg_lat,avg_lon]
}
print (avg_dic["centroid_location"])

[31.698735666666664, 70.66598466666666]

In [21]:
points = [
    [35.6895, 139.6917],  # Tokyo
    [34.0522, -118.2437],  # Los Angeles
    [51.5074, -0.1278],  # London
    [48.8566, 2.3522],  # Paris
]

In [24]:
#centroid_lat = sum([point[0] for point in points]) / len(points)
#centroid_lon = sum([point[1] for point in points]) / len(points)
#centroid = [centroid_lat, centroid_lon]
#print("Centroid of the points is at:", centroid)
[x[0] for x in points]

[35.6895, 34.0522, 51.5074, 48.8566]

In [50]:
#nested dictionary

person  = {
    "Name": "Hayat",
    "Age" : 45,
    "subject": "Computer Sc",
    "Address" : {
        "Street" : "Revenue Academy Phase-III Hayatabad Peshawar",
        "City": "Peshawar",
        "Province": "KP",
        "Country":"Pakistan"
}}

In [62]:
print(person["Name"],person["Age"],person["Address"]["Street"])

Hayat 45 Revenue Academy Phase-III Hayatabad Peshawar

In [5]:
# creating a data dictionary from dataset

dataset ={
    "column" : ["Name","Age","City"],
    "data" : [
        ["Hayat",45,"Peshawar"],
        ["Ayan",14,"Lahore"],
        ["Shah",43,"Islamabad"]
            ]
}

In [6]:
print(dataset)
print("First Row:", dataset["data"][0])

{'column': ['Name', 'Age', 'City'], 'data': [['Hayat', 45, 'Peshawar'], ['Ayan', 14, 'Lahore'], ['Shah', 43, 'Islamabad']]}
First Row: ['Hayat', 45, 'Peshawar']

In [21]:
import pandas as pd
data = pd.read_csv("C:\\SDC_Points.csv")
#create a data dictionary for the header
data_dic = {
    "Header": list(data.columns),
    "Num_Rows":len(data)
}
print(data_dic["Header"])
print(data.tail(2))

['District', 'Phase ', 'Tehsil / SDC', 'Full Address', 'Y', 'X', 'Focal Person Name', 'Focal Person Cnt No']
   District Phase  Tehsil / SDC                         Full Address  \
49  Shangla     II      Shahpur                Tehsil office Shahpur
50     Swat     II      Bahrain  sdc bahrain, near AC office bahrain

            Y          X Focal Person Name Focal Person Cnt No
49  34.950385  72.749026       Mohsin Khan          3459429596
50  35.206260  72.546340            Rizwan          3469427559

In [35]:
import pandas as pd

# Read the CSV file
data = pd.read_csv("C:\\SDC_Points.csv")

# Create a data dictionary for the header
fiverows = data.tail()
data_dic = {
    "Header": list(data.columns),
    "filedata": fiverows,
    "Num_Rows": len(data)
}

for key,value in data_dic.items():
    print(f"{key}:{value}")

# Print the header
#print("Header:", data_dic["Header"])
#print("Number of rows:", data_dic["Num_Rows"])

# Print the first few rows of the file
#print("\nFirst 5 rows of the file:")
#print(data.head())

# Print the last few rows of the file
#print("\nLast 5 rows of the file:")
#print(data.tail())

Header:['District', 'Phase ', 'Tehsil-SDC', 'Full Address', 'Y', 'X', 'Focal Person Name', 'Focal Person Cnt No']
filedata:   District Phase    Tehsil-SDC  \
46  Shangla     II       Alpuri
47     Swat     II  Khawzakhela
48     Swat     II        Matta
49  Shangla     II      Shahpur
50     Swat     II      Bahrain

                                         Full Address          Y          X  \
46          Deputy Commissioner Office Alpuri Shangla  34.919632  72.633529
47   sdc khwazakhella near tehsil office khwazakhella  34.939234  72.465600
48  SDC Matta opposite wakeel shopping mall sambat...  34.946650  72.434960
49                              Tehsil office Shahpur  34.950385  72.749026
50                sdc bahrain, near AC office bahrain  35.206260  72.546340

   Focal Person Name Focal Person Cnt No
46        Akram khan          3408815201
47       Shafi Ullah          3469410663
48            Javed           3139691944
49       Mohsin Khan          3459429596
50            Rizwan          3469427559
Num_Rows:51

In [26]:
dataset = {
    "columns": ["Name", "Age", "City"],
    "data": [
        ["Alice", 30, "New York"],
        ["Bob", 25, "Los Angeles"],
        ["Charlie", 35, "Chicago"]
    ],
    "description": "A sample dataset of people"
}

for key, value in dataset.items():
    print(f"{key}:{value}")

columns:['Name', 'Age', 'City']
data:[['Alice', 30, 'New York'], ['Bob', 25, 'Los Angeles'], ['Charlie', 35, 'Chicago']]
description:A sample dataset of people

In [97]:
grades = {
    "Math": 90,
    "Science": 85,
    "History": 78,
    "English": 92,
    "Art": 88
}
grades["Science"]=87
grades["Geography"] = 82
del grades["Art"]

total_marks= sum(grades.values())
maxgrade = max (grades.values())
maxgradesub= [subject for subject,marks in grades.items() if marks == maxgrade]

subjects = len(grades)

print("Upgrades grades :",grades)
print("Average grades :",total/subjects)
print("Subject with Highest Grade",maxgradesub[0])

Upgrades grades : {'Math': 90, 'Science': 87, 'History': 78, 'English': 92, 'Geography': 82}
Average grades : 85.8
Subject with Highest Grade English

In [122]:
students = {
    "Alice": {
        "Math": 90,
        "Science": 85,
        "History": 78
    },
    "Bob": {
        "Math": 88,
        "Science": 92,
        "History": 81
    },
    "Charlie": {
        "Math": 76,
        "Science": 89,
        "History": 94
    }
}

#1 Add a new student, "Diana", with the following grades:
students["Diana"] = {
    "Math":95,
    "Science":87,
    "History":91
}
# Update Bob's Math grade to 90.
students["Bob"]["Math"]=90
#Remove Charlie from the dictionary.
del students["Charlie"]

#4 Calculate and print the average grade for each student.
Alice_average = sum( students["Alice"].values()) / len(students["Alice"])
Bob_average = sum( students["Bob"].values()) / len(students["Bob"])
Diana_average = sum( students["Diana"].values()) / len(students["Diana"])

print("Updated students",students)
print("Average Grades:")
print("Alice :",round (Alice_average,2))
print("Bob :",round (Bob_average,2))
print("Diana :",round (Diana_average,2))

#5 Student with highest average grade
print("Student with highest aveage grade :", max(Alice_average,Bob_average,Diana_average))

# Implementing the point 5 in a new way

stu_avg = {
    "Alice" : Alice_average,
    "Bob":Bob_average,
    "Diana":Diana_average
}
#high_avg_stu = max (stu_avg, key = lambda x :stu_avg[x])
high_avg_stu1 = max(stu_avg, key=lambda x : stu_avg[x])
print("Studnet with Highest Average Grade :",high_avg_stu1,"with",stu_avg[high_avg_stu1])

Updated students {'Alice': {'Math': 90, 'Science': 85, 'History': 78}, 'Bob': {'Math': 90, 'Science': 92, 'History': 81}, 'Diana': {'Math': 95, 'Science': 87, 'History': 91}}
Average Grades:
Alice : 84.33
Bob : 87.67
Diana : 91.0
Student with highest aveage grade : 91.0
Studnet with Highest Average Grade : Diana with 91.0

In [147]:
# last assignment on data dictionaries in geospatial domain
cities = {
    "New York": {"latitude": 40.7128, "longitude": -74.0060},
    "Los Angeles": {"latitude": 34.0522, "longitude": -118.2437},
    "Chicago": {"latitude": 41.8781, "longitude": -87.6298},
    "Houston": {"latitude": 29.7604, "longitude": -95.3698},
    "Phoenix": {"latitude": 33.4484, "longitude": -112.0740}
}

#1 Add a new city, "Miami", with the following coordinates:
#Latitude: 25.7617
#Longitude: -80.1918
cities["Miami"] ={"latitude": 25.7617, "longitude": -80.1918 }

#2 Update Chicago's latitude to 41.9000.
cities["Chicago"]["latitude"] = 41.9000

#3 Remove Phoenix from the dictionary.
del cities["Phoenix"]

print("Updated Cities:",cities)

#4 Calculate and print the distance (in kilometers) between two cities using the Haversine formula
# a = sin²(Δlat/2) + cos(lat1) * cos(lat2) * sin²(Δlon/2)
# c = 2 * atan2(√a, √(1−a))
# distance = R * c

import math

def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth's radius in km
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])  # Convert to radians
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = math.sin(dlat / 2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c
    return distance
    
lat1=cities["New York"]["latitude"]
lon1=cities["New York"]["longitude"]
lat2=cities["Los Angeles"]["latitude"]
lon2=cities["Los Angeles"]["longitude"]

cities_distance=haversine(lat1,lon1,lat2,lon2)
print("Distance Between New York and Los Angeles",round(cities_distance,2),"Km")

#For Task 5, use max() with a custom key to find the city with the highest latitude.
northmostcity =max(cities, key = lambda x : cities[x]["latitude"]) 
print("Northmost City:", northmostcity,"(",cities[northmostcity]["latitude"],")")

from pprint import pprint
print("Updated Cities:")
pprint(cities)

Updated Cities: {'New York': {'latitude': 40.7128, 'longitude': -74.006}, 'Los Angeles': {'latitude': 34.0522, 'longitude': -118.2437}, 'Chicago': {'latitude': 41.9, 'longitude': -87.6298}, 'Houston': {'latitude': 29.7604, 'longitude': -95.3698}, 'Miami': {'latitude': 25.7617, 'longitude': -80.1918}}
Distance Between New York and Los Angeles 3935.75 Km
Northmost City: Chicago ( 41.9 )
Updated Cities:
{'Chicago': {'latitude': 41.9, 'longitude': -87.6298},
 'Houston': {'latitude': 29.7604, 'longitude': -95.3698},
 'Los Angeles': {'latitude': 34.0522, 'longitude': -118.2437},
 'Miami': {'latitude': 25.7617, 'longitude': -80.1918},
 'New York': {'latitude': 40.7128, 'longitude': -74.006}}