### Exercise 1: Variable Assignment and Basic Operations
Create variables to store the following geospatial data:
The latitude and longitude of New York City: 40.7128, -74.0060.
The population of New York City: 8,336,817.
The area of New York City in square kilometers: 783.8.
Perform the following tasks:
Calculate and print the population density of New York City (population per square kilometer).
Print the coordinates in the format “Latitude: [latitude], Longitude: [longitude]”.

In [30]:
###Excise 1
latitude = 40.7128
longitude=-74.0060
population_density = 8336817 / 783.8
print (f"population_densit:",round(population_density))
print(f"Latitude:{latitude}, Longitude: {longitude}")

population_densit: 10636
Latitude:40.7128, Longitude: -74.006

### Exercise 2: Working with Strings
Create a string variable to store the name of a city, such as “San Francisco”. Perform the following operations:
Convert the string to lowercase and print the result.
Convert the string to uppercase and print the result.
Replace “San” with “Los” in the city name and print the new string.

In [27]:
###Excise 2
city = "San Franciso"
print(city.lower())
print(city.upper())
new_city = city.replace("San","Los")
print(new_city)

san franciso
SAN FRANCISO
Los Franciso

### Exercise 3: Using Lists
Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:
New York City: (40.7128, -74.0060)
Los Angeles: (34.0522, -118.2437)
Chicago: (41.8781, -87.6298)
Perform the following tasks:
Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
Print the entire list of cities.
Slice the list to print only the first two cities.

In [141]:
### Excise 3
citylist = [
            ["New York City:", (40.7128, -74.0060)], ["Los Angeles:", (34.0522, -118.2437)],["Chicago:", (41.8781, -87.6298)]
            ]
citylist.append(["Miami:",(25.7617, -80.1918)])
print(f"Printing Entire list of citites\n {citylist}")
#Slice the list to print only the first two cities.
print(f"Printing only first two cities, {citylist[:2]}")

Printing Entire list of citites
 [['New York City:', (40.7128, -74.006)], ['Los Angeles:', (34.0522, -118.2437)], ['Chicago:', (41.8781, -87.6298)], ['Miami:', (25.7617, -80.1918)]]
Printing only first two cities, [['New York City:', (40.7128, -74.006)], ['Los Angeles:', (34.0522, -118.2437)]]

# Exercise 4: Using Tuples
Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:
Access and print the latitude and longitude values from the tuple.
Try to change the latitude value to 48.8585. What happens? Explain why.

In [47]:
# Exercise 4: Using Tuples
et_coordinates = (48.8584, 2.2945,)
latitude = et_coordinates[0]
longitude = et_coordinates[1]
print(f"Latitude: {latitude} Longitude: {longitude}")

#Try to change the latitude value to 48.8585. What happens? Explain why.
#et_coordinates[0]= 50.4567 
#Generates TypeError : 'tuple' object does not support item assignment because tuples are immutable

Latitude: 48.8584 Longitude: 2.2945

### Exercise 5: Working with Sets
Create a set of countries you have visited, such as {“USA”, “France”, “Germany”}. Perform the following tasks:
Add a new country to the set.
Try to add the same country again. What happens?
Print the updated set.

In [51]:
### Exercise 5: Working with Sets
countries_visited = ["Korea","USA","Saudi Arabia"]
countries_visited = set(countries_visited)
countries_visited.add("USA") #adding the same country again
print (f"Updated Countries: {countries_visited}")
#set donot allow duplicate items

Updated Countries: {'Saudi Arabia', 'USA', 'Korea'}

### Exercise 6: Working with Dictionaries
Create a dictionary to store information about a specific geospatial feature, such as a river:
Name: “Amazon River”
Length: 6400 km
Countries: [“Brazil”, “Peru”, “Colombia”]
Perform the following tasks:
Add a new key-value pair to the dictionary to store the river’s average discharge (e.g., 209,000 m³/s).
Update the length of the river to 6992 km.
Print the dictionary.

In [55]:
rivers = {
    "Name": "Amazon River",
    "Length": "6400 km",
    "Countries": ["Brazil", "Peru", "Colombia"]
         }
rivers["discharge"]= "209,000 m³/s"
rivers["Length"]= "6992 km"
rivers

{'Name': 'Amazon River',
 'Length': '6992 km',
 'Countries': ['Brazil', 'Peru', 'Colombia'],
 'discharge': '209,000 m³/s'}

### Exercise 7: Nested Data Structures
Create a dictionary to represent a city that contains the city’s name, population, and coordinates (latitude, longitude):
Name: “Tokyo”
Population: 13,515,271
Coordinates: (35.6895, 139.6917)
Perform the following tasks:
Access and print the population of the city.
Access and print the city’s latitude.
Update the population to 14,000,000 and print the updated dictionary.

In [62]:
### Exercise 7: Nested Data Structures
cities = {
    "Name": "Tokyo",
    "Population": 13515271,
    "Coordinates": (35.6895, 139.6917,)
}
print (f"Population of the city: {cities["Population"]}")
print (f"Population of the city: {cities["Coordinates"][0]}")
cities["Population"]= 14000000
print(f"Updated dictionary : {cities}")

Population of the city: 13515271
Population of the city: 35.6895
Updated dictionary : {'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

### Exercise 8: List Operations
Given the list of cities from Exercise 3, perform the following operations:
Sort the list of cities alphabetically by name.
Create a new list that contains only the city names.
Remove the last city from the original list and print the updated list.

In [147]:
### Exercise 8: List Operations
print(f"Original list of Exercise 3:\n{citylist}")
sorted_citylist = sorted(citylist,key = lambda x:x[0])
print(f"Alphabetically sorted list of cities:\n {sorted_citylist}")
newcitylist = []
for x in citylist:
    newcitylist.append(x[0].replace(":",""))
print(f"New List that has only city names:\n{newcitylist}")

#Remove the last city from the original list and print the updated list.
print(f"Original List after removal of last city:\n {citylist[:-1]}")

Original list of Exercise 3:
[['New York City:', (40.7128, -74.006)], ['Los Angeles:', (34.0522, -118.2437)], ['Chicago:', (41.8781, -87.6298)], ['Miami:', (25.7617, -80.1918)]]
Alphabetically sorted list of cities:
 [['Chicago:', (41.8781, -87.6298)], ['Los Angeles:', (34.0522, -118.2437)], ['Miami:', (25.7617, -80.1918)], ['New York City:', (40.7128, -74.006)]]
New List that has only city names:
['New York City', 'Los Angeles', 'Chicago', 'Miami']
Original List after removal of last city:
 [['New York City:', (40.7128, -74.006)], ['Los Angeles:', (34.0522, -118.2437)], ['Chicago:', (41.8781, -87.6298)]]

### Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

Check if the key “Length” exists in the dictionary.

Print all the keys in the dictionary.

Print all the values in the dictionary.

In [158]:
print(f"Printing the dictionary from Exercise 6:\n {rivers}") # printed just for reference
for key,value in rivers.items():
    if key =="Length":
        print(f"Length Exists as a Key in dictionar")
for key in rivers.keys():
    print(f"Keys:{key}")
for value in rivers.values():
    print(f"Values: {value}")

Printing the dictionary from Exercise 6:
 {'Name': 'Amazon River', 'Length': '6992 km', 'Countries': ['Brazil', 'Peru', 'Colombia'], 'discharge': '209,000 m³/s'}
Length Exists as a Key in dictionar
Keys:Name
Keys:Length
Keys:Countries
Keys:discharge
Values: Amazon River
Values: 6992 km
Values: ['Brazil', 'Peru', 'Colombia']
Values: 209,000 m³/s

### Exercise 10: Practical Application
Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]
Perform the following tasks:

Create a new list that contains only the names of the locations.

Create a dictionary where the keys are location names and the values are tuples of their coordinates.

Print the latitude of “K2” using the dictionary.

In [187]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]
newlocations = []
locations_dic = {}

for x in locations:
    newlocations.append(x[0])
    locations_dic[x[0]]= x[1:]

#Create a new list that contains only the names of the locations.
print(f"New List with only names of City Locaitons: {newlocations}")

#Print the latitude of “K2” using the dictionary.
print(f"Latitude of K2 : {locations_dic["K2"][0]}")

New List with only names of City Locaitons: ['Mount Everest', 'K2', 'Kangchenjunga']
Latitude of K2 : 35.8808