In [1]:
message = "Hello my dear"
print(message.index("my"))

6

In [2]:

animals = "lions tigers and bears"
animals.index("bears")

17

In [23]:
def change_sent(sentence,word):
    wordlist = sentence.split()
    newlist = []
    wupper=""
    for x in wordlist:
        if x.strip("!") in word:
            wupper=x.upper()
            newlist.append(wupper)
        else:
            newlist.append(x)
            
    
    
    
    return " ".join(newlist)

print(change_sent("Shhh, don't be so loud!", "loud"))

Shhh, don't be so LOUD!

In [26]:
def myfun(start,end):
    return [x for x in range(start+2,end+3)]

myfun(1,5)

[3, 4, 5, 6, 7]

In [33]:
def countries (count_dict):
    result =""
    for value in count_dict.values():
        result += str(value)
    
    return result

print(countries({"Africs":["Kenya","Egyp"],"Asia":["Korea","Pakistan"]}))

['Kenya', 'Egyp']['Korea', 'Pakistan']

In [35]:
text = "Hippopotamus"
print(text[3:6])
print(text[-5])
print(text[10:])

pop
t
us

In [38]:
# define a basic city class
class City:
	name = ""
	country = ""
	elevation = 0 
	population = 0

# create a new instance of the City class and
# define each attribute
city1 = City()
city1.name = "Cusco"
city1.country = "Peru"
city1.elevation = 3399
city1.population = 358052

# create a new instance of the City class and
# define each attribute
city2 = City()
city2.name = "Sofia"
city2.country = "Bulgaria"
city2.elevation = 2290
city2.population = 1241675

# create a new instance of the City class and
# define each attribute
city3 = City()
city3.name = "Seoul"
city3.country = "South Korea"
city3.elevation = 38
city3.population = 9733509

def max_elevation_city(min_population):
	# Initialize the variable that will hold 
# the information of the city with 
# the highest elevation 
	return_city = City()

	# Evaluate the 1st instance to meet the requirements:
	# does city #1 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city1.population >= min_population and city1.elevation ==3399:
		#return_city.name = city1.name
		#return_city.country = city1.country
		return_city = city1.name,city1.country
	# Evaluate the 2nd instance to meet the requirements:
	# does city #2 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city2.population>=min_population and city2.elevation ==2290:
		return_city = city2.name,city2.country
	# Evaluate the 3rd instance to meet the requirements:
	# does city #3 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city3.population >= min_population and city3.elevation ==38:

		return_city = city3.name,city3.country

	#Format the return string
	if return_city.name:
		return return_city.name
	else:
		return ""

print(max_elevation_city(100000)) # Should print "Cusco, Peru"
print(max_elevation_city(1000000)) # Should print "Sofia, Bulgaria"
print(max_elevation_city(10000000)) # Should print ""

AttributeError: 'tuple' object has no attribute 'name'